<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=C:\\userdb.accdb;Persist Security Info=False;" />
    <add key="usertablename" value="usertable" />
    <add key="host" value="ismail-nb.bistratejik.local" />
    <add key="port" value="8080" />
    <add key="prefix" value="dotnet" />
    <add key="directory" value="ACCESSDB" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
